
@model IEnumerable<CovidAppV5.ViewModel.COVIDvm>

@{
    ViewBag.Title = "Create";
}
<meta name="viewport" content="width=device-width" />



@using (Html.BeginForm("Index", "Report"))
{
    @Html.AntiForgeryToken()

    <h2>Run a report</h2>

    <div class="row">
        <div class="form-group">
            <h4>This report concerns:</h4>
            <div class="form-group">
                <ul>
                    <li class="col-md-2">
                        <p>Questionaires</p>
                        <input type="checkbox" name="caseLogs" />
                    </li>
                    <li class="col-md-2">
                        <p>Emergency Leave</p>
                        <input type="checkbox" name="eLeave" />
                    </li>
                    <li class="col-md-2">
                        <p>Family Leave</p>
                        <input type="checkbox" name="fLeave" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-horizontal" style="margin-left: 20px">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group, col-md-2">
                <h4>Name</h4>
                <input type="text" name="Name" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Phone 1</h4>
                <input type="text" name="Phone1" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Phone 2</h4>
                <input type="text" name="Phone2" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Organization #</h4>
                <input type="text" name="OrgNumber" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Date of Exposure</h4>
                <input type="date" name="DateOfExposure" />
            </div>

        </div>

        <hr />

        <div class="row" style="margin-top: 30px">

            <div class="form-group, col-md-2">
                <h4>Unable To Telework</h4>
                <input type="checkbox" name="UnableToTelework" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Caring For Minor</h4>
                <input type="checkbox" name="CaringForMinor" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Special Circumstances</h4>
                <input type="checkbox" name="SpecialCircumstances" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Leave From</h4>
                <input type="date" name="LeaveFrom" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Leave To</h4>
                <input type="date" name="LeaveTo" />
            </div>

        </div>

        <div class="row" style="margin-top: 30px">

            <div class="form-group, col-md-2">
                <h4>Quarantine Order</h4>
                <input type="checkbox" name="QuarantineOrder" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Advise To Self Quarantine</h4>
                <input type="checkbox" name="AdviseToSelfQuarantine" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Symptoms</h4>
                <input type="checkbox" name="Symptoms" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Caring For Person</h4>
                <input type="checkbox" name="CaringForPerson" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Childcare Unavailable</h4>
                <input type="checkbox" name="ChildcareUnavailable" />
            </div>

            <div class="form-group, col-md-2">
                <h4>Similar Conditions</h4>
                <input type="checkbox" name="SimilarConditions" />
            </div>


        </div>

            <div class="form-group" style="margin-top: 20px">
                <input type="submit" value="Run" class="btn btn-default" />
            </div>
        </div>
        }




