@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<br /><br />

<div class="row">

    <div class="card, col-lg-4">
        <img class="card-img-top" src="../Assets/WV.png" alt="Card image cap" style="height:200px; width: 350px">
        <div class="card-body">
            <h5 class="card-title">Covid 19 Case Logs</h5>
            <p class="card-text">Enter, edit, delete, and view Covid 19 case questionare forms.</p>
            <a href="../Case_Log/Index" class="btn btn-primary">Case Logs >></a>
        </div>
    </div>


    <div class="card, col-lg-4">
        <img class="card-img-top" src="../Assets/family.jpg" alt="Card image cap" style="height:200px; width: 350px">
        <div class="card-body">
            <h5 class="card-title">Emergency FMLA</h5>
            <p class="card-text">Enter, edit, delete, and view DOP-L4A forms for eFMLA</p><br />
            <a href="Family_Leave/Index" class="btn btn-primary">Emergency FMLA >></a>
        </div>
    </div>


    <div class="card, col-lg-4">
        <img class="card-img-top" src="../Assets/sickLeave.jpg" alt="Card image cap" style="height:200px; width: 350px">
        <div class="card-body">
            <h5 class="card-title">Emergency Paid Sick Leave</h5>
            <p class="card-text">Enter, edit, delete, and view DOP-L4A forms for EPSL.</p><br />
            <a href="Emergency_Leave/Index" class="btn btn-primary">Emergency Paid Sick Leave >></a>
        </div>
    </div>

</div>